body{
    background-image: url("back_mountain1.jpg");
   background-attachment: fixed;
     
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body::before{
    content: " ";
    position: absolute;
    width: 100%;
    background-color: rgba(52,13,59,.8);
    left: 0px;
    top: 0px;
    display: block;
    height: 100%;
    opacity: 0.5;
}
ul{
    display: flex;
    
}
ul li{
   
    list-style: none;
    position: absolute;
    left:50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
}
ul li a{
    text-decoration: none;
}
li::after{
    content: " ";
    position: absolute;
    bottom:0;
    left: 0;
    background-color: brown;
    width: 50%;
    border-radius: 10px;
    height:10%;
    z-index: -1;
    transition:ease 0.5s;
}
li a:hover{
    color:rgb(28, 92, 255);
}
li:hover::after{
    width: 100%;
}